* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: Inter, ui-sans-serif, system-ui;
  background: radial-gradient(circle at 30% 20%, #420450 0%, #000000 40%, #0f051e 100%);
  color: #e2e8f0;
  padding: 40px;
  overflow-x: hidden;
}

.app-container {
  width: 100%;
  max-width: 850px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 20px;
  background: rgba(125, 59, 59, 0.06); 
  backdrop-filter: blur(20px);
  box-shadow: 0 0 40px rgb(230, 0, 255); 
  animation: fadeInUp 0.5s ease;
}

.app-header {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 32px;
}

h1 {
  font-size: 32px;
  font-weight: 800;
  background: linear-gradient(90deg, #f2f2f2, #ffffff);
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small-muted {
  font-size: 14px;
  color: #ffffff;
}

.todo-inputField {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255,255,255,0.1);
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 15px;
}

.todo-inputField::placeholder {
  color: #858585;
}

.todo-inputAdd,
.btn {
  background: linear-gradient(90deg, #891594, #c90097);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.todo-inputAdd:hover,
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 12px rgba(255, 0, 166, 0.6);
}

.btn--danger {
  background: linear-gradient(90deg, #ff0000, #b32121);
  color: #ffffff;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 16px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: 0.25s;
}

.todo-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 16px rgba(175, 0, 157, 0.25);
}

.todo-item.completed {
  opacity: 0.5;
  text-decoration: line-through;
}

.todo-itemEdit {
  background: rgba(121, 112, 112, 0.25);
  border: 1px solid rgba(255,255,255,0.15);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(12px); }
  to   { opacity: 1; transform: translateY(0); }
}
